<a class="paginate {{modifier}}" href="#{{!link}}">
  {{#if prev}}
    <span class="glyphicon {{icon}}"></span> {{text}}
  {{/if}}

  {{#if next}}
    {{text}}  <span class="glyphicon {{icon}}"></span>
  {{/if}}
</a>