{{#if site.disqus.enabled}}
  {{disqus shortname=site.disqus.shortname}}
{{/if}}

<!-- Footer -->
<footer class="footer" role="contentinfo">
  <div class="container">

    {{> social-buttons }}

    <p><a href="{{site.repo}}">{{site.title}}</a> was created by <a href="https://twitter.com/jonschlinkert" target="_blank">Jon Schlinkert</a> and <a href="http://twitter.com/doowb" target="_blank">Brian Woodward</a>.</p>
    <p>Documentation source code released under the <a href="{{site.license.source.url}}" target="_blank">{{site.license.source.type}} License</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.</p>

    <ul class="footer-links">
      <li>Currently v{{ _assemble.version }}</li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.blog }}">Blog</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.repo }}/issues?state=open">Issues</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.repo }}/blob/master/CHANGELOG.md">Changelog</a></li>
      <li class="muted">&middot;</li>
      <li><a href="{{ site.repo }}/releases">Releases</a></li>
    </ul>
  </div>
</footer>
