<!-- meta -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{site.description}} | {{default description (default title basename)}}">
<meta name="author" content="Jon Schlinkert, Brian Woodward, contributors.">

<!-- title -->
<title>
  {{default title (titleize basename)}} | {{site.title}} &raquo; {{site.description}}
</title>

<!-- Main CSS -->
<link href="{{ assets }}/css/{{ theme }}.css" rel="stylesheet">

<!-- Webfonts -->
<script type="text/javascript">
  WebFontConfig = {google: {families: [{{webfonts site.webfonts}}] }};
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })();
</script>

<!-- IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]><script src="/public/js/ie.min.js"></script><![endif]-->

<!-- Favicons -->
<link rel="shortcut icon" href="{{ assets }}/ico/favicon.ico">

{{!-- Google Analytics --}}
{{#if production}}
  {{! setup your google analytics info in .assemblerc.yml }}
  {{analytics site.google.analytics 'head'}}
{{/if}}

{{!-- Add JSON-LD metadata. TODO: update metadata to conform better to Google standards. --}}
{{> metadata }}
