<style>
  iframe.small {float: left;}
</style>

<!-- GitHub repos -->
<ol class="repos">
  {{#each repos}}
    <div class="col col-lg-4">
      {{#gt watchers 5}}
      <li class="repo">
        <div class="card {{lowercase language}}">
          <a href="{{html_url}}">
            <h2>{{name}}</h2>

            {{!-- githhub buttons --}}
            <!--<iframe class="small" src="http://ghbtns.com/github-btn.html?user={{owner.login}}&amp;repo={{name}}&amp;type=watch&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>
            <iframe class="small" src="http://ghbtns.com/github-btn.html?user={{owner.login}}&amp;repo={{name}}&amp;type=fork&amp;count=true&amp;size=small" allowtransparency="true" frameborder="0" scrolling="0" width="90" height="30"></iframe>-->
            <h3>{{language}}</h3>
            <p>{{truncate description 250 ' ...'}}</p>
          </a>
        </div>
      </li>
      {{/gt}}
    </div>
  {{/each}}
</ol>