<div class="content-social">
  <ul class="content-social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=assemble&amp;repo=assemble&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>
    </li>
    <li class="follow-btn">
      <a href="https://twitter.com/{{site.social.twitter.username}}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{site.social.twitter.username}}</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{site.url.public}}/{{dest}}" data-count="horizontal" data-via="{{site.social.twitter.via}}" data-related="{{site.social.twitter.related}}">Tweet</a>
    </li>
  </ul>
</div>