<div class="masthead">
  <div class="container">

    <h1>{{title}}</h1>
    <p class="lead">{{pkg.description}}</p>
    <p> <a href="assets/assemble.zip" class="btn btn-primary btn-large">Download assemble</a> </p>
    <ul class="masthead-links">
      <li> <a href="{{pkg.homepage}}">GitHub project</a> </li>
      <li> <a href="{{pkg.bugs.url}}">GitHub Issues</a> </li>
      <li> <a href="./getting-started/#examples">Assemble Examples</a> </li>
      <li>Version {{pkg.version}}</li>
    </ul>
  </div>
</div>
