<div class="{{class}} {{modifier}}">
  {{#if inner}}<div class="{{inner}}">{{/if}}
  {{#if heading}}<div class="{{class}}-heading {{heading-class}}">{{{heading}}}</div>{{/if}}
  {{#if bar}}
    {{> progress-bar }}
  {{/if}}
  {{#if content}}{{{content}}}{{/if}}{{#if md}}{{md md}}{{/if}}

  {{#if list}}
    <!-- List group -->
    {{> list }}
  {{/if}}
  {{#if inner}}</div>{{/if}}
</div>