This will allow partials and handlebars tags to be more flexible and DRY. 

For example, given that our YFM has `page.title` :

```yaml
---
page:
  title: Bootstrap
---
```
For which the yaml front matter is:

```html
<h1>{{page.title}}</h1>
```


Now, if you are visiting a theme, you might want page title to be the name of the theme, so you could duplicate the same information in every page, like this:


```yaml
---
page:
  title: Bootstrap

theme:
  name: Bootstrap
---
```
and this:

```html
<h1>{{theme.name}}</h1>
```

But if the two properties will always share the same value, a better way to do it is to use Lo-Dash templates:

and process templates in yaml front matter like this:
 
```yaml
---
page:
  title: {{theme.name}}
theme:
  name: Bootstrap
---
```


```html
<h1>{{page.title}}</h1>
<h2>{{theme.name}}</h2>
```