---
title: Markdown
section: content
categories:
- content
- markdown
tags:
- content
- converters
- markdown
- HTML
---

> With Assemble you can use markdown however you want, wherever you want

An advantage of writing content with markdown is that it is free from the angle brackets and tags used in HTML, so it feels and looks more like "content" than "code".

With Assemble you can:

* Write entire documents in markdown, and choose where and when to compile them to HTML
* Write document fragments in markdown, so they can be "included" or used as partials within other larger documents
* Write sections of markdown directly inside HTML documents (referred to as "inline markdown")


### Markdown "includes"

Using the `\{{md}}` markdown helper, you can import markdown formatted content from another file, and render it to HTML. For example:

Assuming we have a file named `index.hbs`, and we add the following:

```handlebars
\{{md '../path/to/content.md'}}
```

And give that `content.md` contains the following:

```markdown
# Getting Started
Lorem Ipsum...
```

When we run `grunt assemble`, a file named `index.html` will be rendered containing:

```html
<h1>Getting Started</h1>
Lorem Ipsum...
```

The same can be accomplished by specifying the path to the file in the YAML Front Matter:

```handlebars
---
content: ../path/to/content.md
---

\{{md content}}
```

### Markdown block expression

The `\{{#markdown}}...\{{/markdown}}` block expression is used to "wrap" markdown content that is written "inline" directly inside HTML documents:

```markdown
<h1> My Site </h1>

\{{#markdown}}
## Inline Markdown is awesome

> this is markdown content

* useful for simple content
* great for blog posts
* easier on the eyes than angle brackets
* even links look prettier

### Pretty links

[Visit Assemble](http://github.com/assemble/assemble)

### Even Prettier links

Embed handlebars templates to make them even prettier.

\{{#page.links}}
[\{{text}}](\{{href}})
\{{/page.links}}

\{{/markdown}}
```

In a layout, can also wrap the `\{{> body }}` tag with the `\{{#markdown}}...\{{/markdown}}` block helper to convert any HTML pages that use that layout to markdown:

```handlebars
\{{#markdown}}
  \{{> body }}
\{{/markdown}}
```

### Markdown options

Default markdown options are from [marked][marked], so the following options are available for changing behavior:

* **pedantic**: Conform to obscure parts of `markdown.pl` as much as possible. Don't fix any of the original markdown bugs or poor behavior.
* **gfm**: Enable github flavored markdown (enabled by default).
* **sanitize**: Sanitize the output. Ignore any HTML that has been input.
* **highlight**: A callback to highlight code blocks.
* **tables**: Enable GFM tables. This is enabled by default. (Requires the `gfm` option in order to be enabled).
* **breaks**: Enable GFM line breaks. Disabled by default.
* **smartLists**: Use smarter list behavior than the original markdown. Disabled by default. May eventually be default with the old behavior moved into `pedantic`.
* **langPrefix**: Set the prefix for code block classes. Defaults to `lang-`.

#### Marked License

Marked Copyright (c) 2011-2013, Christopher Jeffrey. (MIT License). See the Marked.js [LICENSE](https://github.com/chjj/marked/blob/master/LICENSE) and [repo][marked] for more info.

[marked]: https://github.com/chjj/marked "Marked Repo on GitHub"
