<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{#if title}} {{title}} {{else}} {{titleize page.basename}} {{/if}} | Assemble</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    {{#unless cheatsheet}}<link rel="stylesheet" href="{{assets}}/css/markdown.css">{{/unless}}
    {{#if cheatsheet}}<link rel="stylesheet" href="{{assets}}/css/gist.css">{{/if}}
    <link rel="stylesheet" href="{{assets}}/css/assemble.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{assets}}/js/html5shiv.js"></script>
    <script src="{{assets}}/js/respond/respond.min.js"></script>
    <![endif]-->

    <!-- Favicons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{assets}}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{assets}}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{assets}}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{assets}}/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{assets}}/ico/favicon.png">
    {{> analytics }}
    {{> metadata }}
  </head>
  <body style="background: white;" data-spy="scroll" data-target=".bs-sidebar">

    {{!-- NAVIGATION
    =================================== --}}
    {{> navbar }}


    {{!-- Content
    =================================== --}}
    {{> body }}


    {{!-- SCRIPTS
    =================================== --}}
    {{> javascripts }}
    <script>
      $().showUp('.navbar');
    </script>
  </body>
</html>