<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{assets}}/css/assemble.css">
    <link rel="stylesheet" href="{{assets}}/css/components/{{component}}.css">
    <link rel="stylesheet" href="{{assets}}/css/github.css">
    <link rel="stylesheet" href="{{assets}}/css/docs.css">
  </head>
  <body style="background: white">

    <!-- nav partial -->
    {{> navbar }}

    <!-- Docs page layout -->
    <div class="page-header">
      <div class="container">
        <h1> {{titleize page.basename}} Component</h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col col-lg-3">
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li class="active"><a href="../../index.html">ASSEMBLE</a></li>
            {{#each pages}}
            <li><a href="{{relative ../page.dest this.dest}}">{{titleize this.basename}} component</a></li>{{/each}}
          </ul>
        </div>        
        <div class="col col-lg-9">
          {{> body }}
        </div>
      </div>
    </div>

    <script src="{{assets}}/js/jquery.js"></script>
    <script src="{{assets}}/js/highlight.js"></script>
    <script src="{{assets}}/js/holder/holder.js"></script>
    <script src="{{assets}}/js/showup.js"></script>
    <script>
      $().showUp('.navbar');
    </script>

    {{> google-analytics }}
  
  </body>
</html>
