---
layout: content
title: Helpers
slug: helpers
modifier: book
---
<!-- See `data/generated-pages/helpers.yml` -->
{{#each helpers.published}}
  <!-- {{title}} -->
  <div class="docs-section">
    <div class="page-header">
      <h1 id="{{@key}}">{{title}}</h1>
    </div>

    {{#each (expand files)}}
      <!-- {{basename .}} -->

      {{success '>> Inlining:' (basename .)}} {{! log a success message! }}

        {{#markdown}}
          {{inline .}}
        {{/markdown}}

      <br>
    {{/each}}

  </div>
{{/each}}